<div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <img class="logo" src="/uploads/logo.jpg" alt="logo">
        </div>
        </div>
        <span>
          <br>
        </span>
        <br>
<div class="container">
    <div class="row searchbar">
        <div class="col-sm-6 col-sm-offset-3">
                <form action="/resultsapi" method="post">
                    <div id="imaginary_container"> 
                            <div class="input-group stylish-input-group">
                                <input type="text" name="ingredients" class="form-control" placeholder="Ingredients included in the recipes (separate them by comas)" >
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>  
                                </span>
                            </div>
                        </div>
                </form>
        </div>
    </div>
</div>
